.icon {
    stroke: #3f3f58;
    transition: all o.3 ease;
    cursor: pointer;
    border: 2px solid #efeeee;
    background: #ffffff;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 50%
}

.icon:hover {
    stroke: #15151a;
    transform: scale(1.1);
}
