.icon {
    stroke: #3f3f58;
    transition: all o.3 ease;
    cursor: pointer;
    width: 4vw;
    height: 4vh;
    flex-shrink: 0;
}

.icon:hover {
    stroke: #15151a;
    transform: scale(1.1);
}
