body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(52, 55, 68);
}

.card {
    background: rgb(229, 240, 245);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 50vh;
    width: 100%;
    border: 2px solid #b3daf9;
    border-radius: 25px;
    padding: 15px;
}

.ListCard {
    display: flex;
    width: 80vw;
    height: auto;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 6px 8px 2px #0000;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding-bottom: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.date {
    padding-right: 15px;
    font-size: 1rem;
    color: rgb(13, 13, 92);
}

.icon {
    color: red;
}

.titleText {
    color: rgb(2, 2, 22);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 20px;
    display: flex;
    position: absolute;
    top: -0.5vh;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: relative;
    margin-top: 10px;
}